.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  background-color: var(--pico-contrast-background);
  color: #181c25 !important;
}

.container > h2 {
  color: #181c25 !important;
}
.container > p {
  color: #181c25 !important;
}
